# Windows
Ddesktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Project
.idea
PostMan.http
eduData.service
config.yaml
docker-compose.yml
eduData
eduData.log
grpc_server
grpc_client
