[Service]

Type=simple

ExecStart=/root/eduData/GoLang-Backend/eduData

WorkingDirectory=/root/eduData/GoLang-Backend

Restart=always



[Install]

WantedBy=multi-user.target